<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.AdminMapper">
    <insert id="registerAdmin" parameterType="Admin">
        insert into admin(adminName, password, nickName, email, status, createTime, adminImg) values (#{adminName}, #{password}, #{nickName}, #{email}, #{status}, #{createTime}, #{adminImg});
    </insert>

    <select id="selectAdminList" resultType="Admin">
        select id, adminName, nickName, email, status, createTime, loginTime, adminImg from admin
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="adminName != null and adminName != ''">
                and adminName like concat('%', #{adminName}, '%')
            </if>
            <if test="nickName != null and nickName != ''">
                and nickName like concat('%', #{nickName}, '%')
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by createTime desc
        <if test="pageIndex != null and pageSize != null">
            <bind name="page" value="(pageIndex - 1) * pageSize"/>
            limit #{page}, #{pageSize};
        </if>
    </select>

    <select id="countAdmin" resultType="int">
        select count(*) from admin;
    </select>

    <select id="selectAdminByName" resultType="Admin">
        select id, adminName, password, nickName, email, status, adminImg from admin where adminName = #{adminName};
    </select>

    <update id="updateAdmin" parameterType="Admin">
        update admin
        <set>
            <if test="nickName != null and nickName != ''">
                nickName = #{nickName},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="loginTime != null">
                loginTime = #{loginTime},
            </if>
            <if test="adminImg != null and adminImg != ''">
                adminImg = #{adminImg}
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteAdmin">
        delete from admin where id = #{id};
    </delete>
    <select id="adminAmount" resultType="int">
        select count(*) from admin;
    </select>
</mapper>