<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.OrderDetailMapper">
    <select id="selectOrderDetailList" resultType="OrderDetail">
        select * from orderdetail where orderId = #{id};
    </select>
    <select id="selectOrderDetailById" resultType="OrderDetail">
        select * from orderdetail where id = #{id};
    </select>
    <insert id="insertOrderDetail" parameterType="OrderDetail">
        insert into orderdetail (orderId, productId, num, price, totalPrice, productName, status, productImg,
        createTime, updateTime) values
        <foreach collection="orderDetails" item="orderDetail" separator=",">
            (#{orderDetail.orderId}, #{orderDetail.productId}, #{orderDetail.num}, #{orderDetail.price},
            #{orderDetail.totalPrice}, #{orderDetail.productName}, #{orderDetail.status}, #{orderDetail.productImg},
            #{orderDetail.createTime},
            #{orderDetail.updateTime})
        </foreach>
    </insert>
    <update id="updateOrderDetail" parameterType="orderDetail">
        update orderDetail
        <set>
            <if test="orderId != null">
                orderId = #{orderId},
            </if>
            <if test="productId != null">
                productId = #{productId},
            </if>
            <if test="num != null">
                num = #{num},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="totalPrice != null">
                totalPrice = #{totalPrice},
            </if>
            <if test="productName != null and productName != ''">
                productName = #{productName},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="productImg != null">
                productImg = #{productImg},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime}
            </if>
        </set>
        where id = #{id};
    </update>
    <delete id="deleteOrderDetailByOrderId">
        delete from orderdetail where orderId = #{orderId};
    </delete>
</mapper>