<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.ProductMapper">
    <resultMap id="sel_pro" type="Product">
        <result column="categoryId" property="categoryId"/>
        <result column="brandId" property="brandId"/>
        <association property="category" select="com.shop.mapper.CategoryMapper.selectCategoryById" column="categoryId"/>
        <association property="brand" select="com.shop.mapper.BrandMapper.selectBrandById" column="brandId"/>
    </resultMap>
    <select id="selectProductList" resultMap="sel_pro">
        select * from product
        <where>
            <if test="categoryId != null">
                and categoryId = #{categoryId}
            </if>
            <if test="brandId != null">
                and brandId = #{brandId}
            </if>
            <if test="productName != null and productName != ''">
                and productName like concat('%', #{productName}, '%')
            </if>
            <if test="subtitle != null and subtitle != ''">
                and subtitle like concat('%', #{subtitle}, '%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        <if test="priceSort != null or stockSort != null or createTimeSort != null">
            order by
            <if test="priceSort != null">
                price ${priceSort},
            </if>
            <if test="stockSort != null">
                stock ${stockSort},
            </if>
            <if test="createTimeSort != null">
                createTime ${createTimeSort}
            </if>
--         </if>
        <if test="pageIndex != null and pageSize != null">
            <bind name="page" value="(pageIndex - 1) * pageSize"/>
            limit #{page}, #{pageSize};
        </if>
    </select>
    <insert id="insertProduct" parameterType="Product">
        insert into product (categoryId, brandId, productName, productImg, subtitle, introduce, price, stock, measure, status, createTime, updateTime) values (#{categoryId}, #{brandId}, #{productName}, #{productImg}, #{subtitle}, #{introduce}, #{price}, #{stock}, #{measure}, #{status}, #{createTime}, #{updateTime});
    </insert>
    <delete id="deleteProduct">
        delete from product where id = #{id};
    </delete>
    <update id="updateProduct">
        update product
         <set>
             <if test="categoryId != null">
                  categoryId = #{categoryId},
             </if>
             <if test="brandId != null">
                  brandId = #{brandId},
             </if>
             <if test="productName != null and productName != ''">
                  productName = #{productName},
             </if>
             <if test="productImg != null and productImg != ''">
                  productImg = #{productImg},
             </if>
             <if test="subtitle != null and subtitle != ''">
                  subtitle = #{subtitle},
             </if>
             <if test="introduce != null and introduce != ''">
                  introduce = #{introduce},
             </if>
             <if test="price != null">
                  price = #{price},
             </if>
             <if test="stock != null">
                  stock = #{stock},
             </if>
             <if test="measure != null and measure != ''">
                  measure = #{measure},
             </if>
             <if test="status != null">
                  status = #{status},
             </if>
             <if test="createTime != null">
                  createTime = #{createTime},
             </if>
             <if test="updateTime != null">
                 updateTime = #{updateTime},
             </if>
         </set>
         where id = #{id};
    </update>
    <select id="selectProductById" resultMap="sel_pro">
        select * from product where id = #{id};
    </select>
    <select id="productAmount" resultType="int">
        select count(*) from product
        <where>
            <if test="productName != null and productName != ''">
                and productName like concat('%', #{productName}, '%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="brandId != null">
                and brandId = #{brandId}
            </if>
            <if test="categoryId != null">
                and categoryId = #{categoryId}
            </if>
            <if test="subtitle != null and subtitle != ''">
                and subtitle = #{subtitle}
            </if>
        </where>
    </select>
</mapper>