<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.UserMapper">
    <resultMap id="sel_user" type="User">
        <association property="address" javaType="Address" select="com.shop.mapper.AddressMapper.selectAddressById" column="addressId"/>
    </resultMap>
    <insert id="registerUser" parameterType="User">
        insert into user(userName, nickName, sex, phone, userImg, password, addressId, createTime, updateTime, status) values (#{userName}, #{nickName}, #{sex}, #{phone}, #{userImg}, #{password}, #{addressId}, #{createTime}, #{updateTime}, #{status});
    </insert>
    <select id="selectUserList" resultMap="sel_user">
        select * from user
        <where>
            <if test="userName != null and userName != ''">
                and userName like concat('%', #{userName}, '%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by updateTime desc
        <if test="pageIndex != null and pageSize != null">
            <bind name="page" value="(pageIndex - 1) * pageSize"/>
            limit #{page}, #{pageSize};
        </if>
    </select>

    <update id="updateUser" parameterType="User">
        update user
        <set>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="nickName != null and nickName != ''">
                nickName = #{nickName},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="userImg != null and userImg != ''">
                userImg = #{userImg},
            </if>
            <if test="addressId != null">
                addressId = #{addressId},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime},
            </if>
            <if test="status != null">
                status = #{status}
            </if>
        </set>
    </update>
    <delete id="deleteUser">
        delete from user where id = #{id};
    </delete>
    <select id="selectUserById" resultMap="sel_user">
        select * from user where id = #{id};
    </select>
    <select id="selectUserByName" resultMap="sel_user">
        select * from user where userName = #{userName};
    </select>
    <select id="userAmount" resultType="int">
        select count(*) from user;
    </select>
</mapper>